{
  "env": {
    "mocha": true
  },
  "rules": {
    "flowtype/no-types-missing-file-annotation": "off",
    "no-unused-expressions": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ]
  }
}