<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
      <add key="defaultPushSource" value="https://pkgs.dev.azure.com/ed-fi-alliance/Ed-Fi-Alliance-OSS/_packaging/EdFi/nuget/v3/index.json" />
      <add key="globalPackagesFolder" value="https://pkgs.dev.azure.com/ed-fi-alliance/Ed-Fi-Alliance-OSS/_packaging/EdFi/nuget/v3/index.json" />
  </config>

  <activePackageSource>
    <!-- Only one active source-->
    <add key="nuget.org" value="https://pkgs.dev.azure.com/ed-fi-alliance/Ed-Fi-Alliance-OSS/_packaging/EdFi/nuget/v3/index.json" />    
  </activePackageSource>

  <packageSources>
    <clear />
    <add key="EdFi" value="https://pkgs.dev.azure.com/ed-fi-alliance/Ed-Fi-Alliance-OSS/_packaging/EdFi/nuget/v3/index.json" />
  </packageSources>
</configuration>
